* {
    font-family: 'Rambla', sans-serif;
}

code{
    font-family: 'Roboto Mono', monospace;
    padding: 0 .25rem;
    margin: 0 .0625rem;
    border-radius: .125rem;
    color:#15141f;
    background-color:#dfe0e0;
    white-space: normal;
    vertical-align: initial;
    font-size: .9rem;
}

pre{
    font-family: 'Roboto Mono', monospace;
    padding: 0 .25rem;
    margin: 0 .0625rem;
    border-radius: .125rem;
    color:#15141f;
    background-color:#dfe0e0;
    font-size: .9rem;
}